:root {
  --color-primary: #5d5c61;
  --color-secondary: #557a95;
  --color-accent: #b1a296;
  --color-heading: #948d94;
  --color-body: #7395ae;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*Typography*/
html {
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.5rem;
  }
}

/*Links*/
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow-white::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

.link-arrow-white:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/*Badges*/
.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  white-space: nowrap;
  font-size: 2rem;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
  text-align: center;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: black;
  color: var(--color-accent);
}

.block--dark .block__heading {
  color: white;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(100% 0, 100% 100%, 0 81%, 0 0);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(100% 0, 100% 81%, 0 100%, 0 0);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--secondary {
  fill: var(--color-secondary);
}

.icon--white {
  fill: #fff;
}

.icon-container {
  background: var(--color-body);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*Buttons*/

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 3rem;
  border: 0;
  border-radius: 40px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem 0;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #616066;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #5a819e;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #baab9e;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Nav */
.nav {
  background: var(--color-accent);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 9999;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #fff;
  list-style-type: none;
}

.nav__item > a {
  color: #e6d3c3;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #e6d3c3;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(3px);
}

.nav_social {
  color: #e6d3c3;
  transition: color 0.3s;
  font-size: 20px;
}

.nav_social:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

/* Hero */
.hero__tagline {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

/* Banner */
.banner-image {
  width: 100%;
  height: 100%;
}

hero__content {
  margin: 0;
}

.contained {
  position: relative;
  text-align: center;
  color: white;
}

.bannercontain {
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__tagline {
  color: #fff;
  font-style: italic;
  font-size: 3rem;
  margin-bottom: 10%;
}

.hero__tagline2 {
  color: #fff;
  font-style: bold;
  font-size: 6rem;
  margin-top: 10%;
  margin-bottom: 20%;
}

@media screen and (min-width: 768px) {
  .hero__tagline {
    font-size: 3rem;
  }

  .hero__tagline2 {
    font-size: 6rem;
  }
}

.welcome_info {
  padding-top: 65px;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #fff;
}

.welcome_title {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  /* font-size: 5rem;
  color: var(--color-accent); */
  padding: 8rem 0 3rem 0;
}

/* .welcome_subtitle {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-style: italic;
  color: var(--color-body);
  padding: 0 4rem 8rem 4rem;
} */

.welcome_block {
  /* background: #b1a296; */
  background: #99afbf;
  clip-path: polygon(
    50% 0,
    74% 10%,
    100% 10%,
    100% 90%,
    75% 90%,
    50% 90%,
    25% 90%,
    0 90%,
    0 10%,
    25% 10%
  );
}

.welcome_para {
  text-align: center;
  font-size: 2rem;
  padding: 9rem 4rem 9rem 4rem;
}

.currentGoals {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 0 4rem 0;
}
@media screen and (min-width: 768px) {
  .welcome_title {
    font-size: 3.5rem;
  }

  .welcome_subtitle {
    font-size: 1.5rem;
  }

  .welcome_para {
    font-size: 1.75rem;
  }
}

.extra__heading {
  color: var(--color-accent);
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  padding: 4rem 0 4rem 0;
  margin-left: auto;
  margin-right: auto;
}

.work__heading {
  color: var(--color-accent);
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  padding: 4rem 0 4rem 0;
  margin-left: auto;
  margin-right: auto;
}

.projects__heading {
  color: red;
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  padding: 4rem 0 4rem 0;
  margin-left: auto;
  margin-right: auto;
}

.certs__heading {
  color: var(--color-accent);
  text-align: center;
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  padding: 4rem 0 4rem 0;
  margin-left: auto;
  margin-right: auto;
}
.container1 {
  margin-top: 4rem;
}

.extra_image {
  padding: 4rem 0rem 0rem 0rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.extra__1 {
  padding: 0 4rem 4rem 4rem;
}

.extra_1_heading {
  font-style: italic;
  background: var(--color-accent);
  color: #fff;
  padding: 2rem 2rem 2rem 2rem;
}

.extra_1_subheading {
  color: var(--color-accent);
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.container2 {
  margin-top: 10rem;
}

/* .extra_image_2 {
  padding: 4rem 0rem 0rem 0rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  height: auto;
} */

.extra__2 {
  padding: 0 4rem 4rem 4rem;
}

.extra_2_heading {
  font-style: italic;
  background: var(--color-accent);
  color: #fff;
  padding: 2rem 2rem 2rem 2rem;
}

.extra_2_subheading {
  color: var(--color-accent);
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.container3 {
  margin-top: 10rem;
}

/* .extra_image_3 {
  padding: 4rem 0rem 0rem 0rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
} */

.extra__3 {
  padding: 0 4rem 4rem 4rem;
}

.extra_3_heading {
  font-style: italic;
  background: var(--color-accent);
  color: #fff;
  padding: 2rem 2rem 2rem 2rem;
}

.extra_3_subheading {
  color: var(--color-accent);
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.certification_pics {
  padding: 4rem 0rem 4rem 0rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.zoom {
  transition: transform 0.3s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2);
}

.certs_subheading {
  font-style: italic;
  background: var(--color-accent);
  color: #fff;
  padding: 2rem 2rem 2rem 2rem;
  text-align: center;
}

.signs {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  /* font-size: 5rem;
  color: var(--color-accent); */
  padding: 8rem 0 3rem 0;
}

.footer--block {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: #b1a296;
  text-align: center;
}

.footer_Name {
  color: #fff;
}
